---
import { profileImages } from "../../components/profileimages";
import Layout from "../../layouts/Layout.astro";
import StreamerStats from '../../components/StreamerStats';


export function getStaticPaths() {
  return Object.keys(profileImages).map((streamer_name) => ({
    params: { streamer_name },
  }));
}

const { streamer_name } = Astro.params;


---

<Layout>
  <div class="container">
    <div class="streamer">
      {streamer_name && profileImages[streamer_name] ? (
        <img src={profileImages[streamer_name]} alt={streamer_name} />
      ) : (
        <p>Streamer profile image not available</p>
      )}
      <h1>{streamer_name}</h1>
    </div>
    <StreamerStats streamerName={streamer_name} />
  </div>
</Layout>