<header class="flex justify-between items-center bg-[#301E6A] p-4 shadow-md">
    <h1 class="text-white text-2xl font-bold hover:text-gray-300">
        KOI Stats
        <a href="/"></a>
    </h1>
    
    <nav>
        <ul class="flex space-x-4 text-white">
            <li><a href="/streamers" class="hover:text-gray-300">Streamers</a></li>
            <li><a href="/games" class="hover:text-gray-300">Games</a></li>
        </ul>
    </nav>
</header>